<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cours644_1.maa_bom.ittrainingapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Student -->
        <activity
            android:name=".StudentView.OneStudent"
            android:label="select on student"
            >
        </activity>
        <activity
            android:name=".StudentView.ShowStudent"
            android:label="@string/title_activity_selection_list"
           >
        </activity>
        <activity
            android:name=".StudentView.ModifyStudent"
            android:label="@string/title_activity_modify_student"
           >
        </activity>

        <!-- Teacher -->
        <activity
            android:name=".teacherView.OneTeacher"
            android:label="select one teacher"
            >
        </activity>
        <activity
            android:name=".teacherView.ShowTeacher"
            android:label="show teacher"
            >
        </activity>
        <activity
            android:name=".teacherView.ModifyTeacher"
            android:label="Modify teacher"
            >
        </activity>

    </application>

</manifest>
